# * Operators

# Q.1  Return a list containing the charactors of the string, if the character in the string is a space or digit greater than 5 ,remove them and do not include them in the array.

In [1]:
def str_to_list( str ) :
    new_list = []
    for index in range(len(str)):
        if str[index] == ' ':
            continue
        elif str[index].isdigit():
            if int(str[index]) > 5:
                continue
        new_list.append(str[index])

    return new_list

In [2]:
str_to_list("Mystring")

['M', 'y', 's', 't', 'r', 'i', 'n', 'g']

In [3]:
str_to_list("6 Mk")

['M', 'k']

# Q.2 What are Arithmetic Operators? What are various types of arithmetic operators that we can use in Python?

Arithmetic operators are used to performing mathematical functions such as addition, subtraction, division, and multiplication. Various types of Arithmetic operators that we can use in Python are as follows:

In [4]:
# ‘+’ for Addition

a = 9
b = 10
a + b

19

In [5]:
# '-' for Subtraction

a = 9
b = 10
a - b

-1

In [6]:
# '*' for Multiplication

a = 9
b = 10
a * b

90

In [7]:
# '/' for Division

a = 9
b = 10
a / b

0.9

In [8]:
# ‘%’ for Modulus

a = 11
b = 2
a % b

1

In [9]:
# ‘//’ for Floor division – a division of operands, provides integer value of quotient.

c = 11
d = 2
c // d

5

In [10]:
# ‘**’ for finding Exponential value

a = 2
b = 3
a ** b

8

# Q.3 What is the Arithmetic operator’s precedence in Python?  and What are the basic rules of operator precedence in Python?

When more than one arithmetic operator appears in an expression the operations will execute in a specific order. In Python, the operation precedence follows as per the acronym PEMDAS.
Parenthesis
Exponent
Multiplication
Division
Addition
Subtraction
(2+2)/2-2*2/(2/2)*2
= 4/2 -4/1*2
= 2-8
= -6

The basic rule of operator precedence in Python is as follows:

Expressions must be evaluated from left to right.
Expressions of parenthesis are performed first.
In Python the operation precedence follows as per the acronym PEMDAS:
Parenthesis
Exponent
Multiplication
Division
Addition
Subtraction

# Q.4 a = 2, b =4, c = 5, d = 4 Evaluate the following keeping Python’s precedence of operators:

1. a+b+c+d
2. a+b*c+d 
3. a/b+c/d
4. a+b*c+a/b+d

In [11]:
a=2 
b=4
c=5
d=4

a+b+c+d

15

In [12]:
a+b*c+d

26

In [13]:
a/b+c/d

1.75

In [14]:
a+b*c+a/b+d

26.5

# Q.5 a = 5, b = 6, c =7, d=7 What will be the outcome for the following:

a<=b>=c
-a+b==c>d
b+c==6+d>=13

In [15]:
a = 5
b = 6
c = 7
d = 7

In [16]:
a<=b>=c

False

In [17]:
-a+b==c>d

False

In [18]:
b+c==6+d>=13

True

# Q.6 What is the difference between a = 10 and a= = 10?

The expression a = 10 assigns the value 10 to variable a,

whereas a == 10 checks if the value of a is equal to 10 or not. If yes then it returns ‘True’ else it will return ‘False'

# Q.7 What is an input statement?

The input statement is used to get user input from the keyboard. The syntax for input() function is as follows:
input(prompt)

The prompt is a strong message for the user.

In [19]:
a = input ("Please enter your message here :")

Please enter your message here :good morning

In [20]:
a

'good morning'

Whenever an input function is called, the program comes on hold till an input is provided by the user. The input( ) function converts the user input to a string and then returns it to the calling program.

# Q.8 Is a = a*2+6 same as a *= 2 + 6?

No, a = a*2+6 is not same as a *= 2 + 6 this is because assign operator have lower precedence than the addition operator.

So, if a = 10 then,

a = a *2+6 => a = 26

a *= 2 + 6 => a = 80

In [21]:
a = 10
a = a *2+6
a

26

In [22]:
a = 10
a *= 2 + 6 
a

80

# Q.9 What are assignment operators?

Assignment operators are used for assigning values to variables. Various types of assignment operators are as follows:

=: a = 5 means that a is assigned value of 5
+= a += 5 is same as a = a+5
-=: a -= 5 is same as a = a – 5
*=. a *= 5 js same as a = a * 5
/=: a /= 5 is same as a = a/5
%=: a %=5 is same as a = a%5
//=: x //= 5 is same as x= x//5
**=• x **=5 js same as x = x**5
&=: x &= 5 is same as x = x&5
|=: x |= 5 is same as x = x|5
A=: x A= 5 is same as x = xA5
>>=: x >>= 5 is same as x = x>>5
<<=: x <<= 5 is same as x = x<<5

# Q.10 What are membership operators? and What are logical operators?

Membership Operators:
                        The membership operators are used to check if a value exists in a sequence or not.
Two types of membership operators are as follows:

in: returns true if a value is found in a sequence

not in: returns true if a value is not found in a sequence

In [23]:
a = "Hello World"
"h" in a

False

In [24]:
"H" in a

True

In [25]:
"h" not in a

True

In [26]:
"H" not in a

False

Logical Operators:

Logical operators are generally used in control statements like if and while. They are used to control program flow. The logical operator evaluates a condition and returns “True” or “False” depending on whether the condition evaluates to True or False. Three logical operators in Python are as follows:

‘and’
‘or’
and‘not'

In [27]:
a = True
b = False
a and b

False

In [28]:
a or b

True

In [29]:
not a

False

In [30]:
 not b

True

# Random questions

# Q11. An array has shape (7,4,2) what is the index (x,y,z) of the 20th element?

In [31]:
import numpy as np
print(np.unravel_index(20,(7,4,2)))

(2, 2, 0)

# Q12. Lambda and pandas apply function?

 Ans:- We can use the apply() function to apply the lambda() function to both rows and columns of a dataframe. If the axis argument in the apply() function is O, then the lambda function gets applied to each column, and if 1, then the function gets applied to each row.

apply() function can also be applied directly to a Pandas series.

# Q13. Difference between array and list

Ans:- The main difference between these two data types is the operation you can perform on them. Lists are containers for elements having differing data types but arrays are used as containers for elements of the same data type.

# Q14. Show me how lambda and map function works together in python

Ans:- In Python, the map() function accepts two arguments: a function and a list. The function is called with a lambda function and a list, and it returns a new list with all of the lambda modified items returned by that function for each item.

#  Q15. How would you deal with missing random values from a data set?

Ans:- Deletions. Pairwise Deletion. Listwise Deletion/ Dropping rows. Dropping complete columns. Basic Imputation Techniques. Imputation with a constant value. Imputation using the statistics (mean, median, mode) K-Nearest Neighbor Imputation.

# Q16. How do you convert a series or dictionary into a dataframe?

Ans:- Use dict.items() to get a set-like object with the keys and values of dict. Use list(iterable) with iterable as the set-like object to convert it to a list. To create a DataFrame, use pandas.DataFrame(data) with this list as data.

# Q17. What do you understand by the term Normal Distribution?

Ans:- Normal distribution, also known as the Gaussian distribution, is a probability distribution that is symmetric about the mean, showing that data near the mean are more frequent in occurrence than data far from the mean. In graph form, normal distribution will appear as a bell curve.

# Q18. What is correlation and covariance in statistics?

Ans:- Both covariance and correlation measure the relationship and the dependency between two variables. Covariance indicates the direction of the linear relationship between variables. Correlation measures both the strength and direction of the linear relationship between two variables. Correlation values are standardized. Covariance values are not standardized.

# Q19. How will you measure the Euclidean distance between the two arrays in NumPy?

Ans:- The magnitude or length of the line segment between two locations is known as the Euclidean distance in mathematics. We first create two numpy arrays in the first procedure. The Euclidean distance is then computed directly using numpy's linalg.norm() function.

# Q20. What is the key difference between list and tuples ?

Ans:- The key difference between the two is that while lists are mutable.. tuples on the other hand are immutable objects. This means that lists can be modified, appended or sliced but tuples remain constant and cannot be modified.

# Q21. What is a negative index in Lython and why are they used?

Ans:- The index for the negative number starts from '-1' and that represents the last index, the sequence carries forward like the positive numbers.

• The negative index is used to remove any from the string. new line spaces.

• The negative index is also used. to show the index to represent the string in correct order#

# Q22. How can outlier values be treated?

Ans:- Below are some of the methods of treating the outliers. 

* Trimming/removing the outlier: In this technique, we remove the outliers from the dataset. 

* Quantile based flooring and capping: In this technique, the outlier is capped at a certain value above the 90th percentile value or floored at a factor below the 10th percentile value. 

* Mean/Median imputation: As the mean value is highly influenced by the outliers, it is advised to replace the outliers with the median value.

# loops

# Q.23 Write a program to print multiplication table of a given number

In [32]:
n = 2
# stop: 11 (because range never include stop number in result)
# run loop 10 times
for i in range(1, 11, 1):
    # 2 *i (current number)
    product = n * i
    print(product)

2
4
6
8
10
12
14
16
18
20

# Q.24 Write a nested for loop program to print multiplication table in Python

In [33]:
# outer loop
for i in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for j in range(1, 11):
        # print multiplication
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# Q.25 Print a rectangle Pattern with 5 rows and 3 columns of star

In [34]:
 #5 rows
for name in range(5):
    # 3 column
    for j in range(3):
        print('*', end='')
    print()

***
***
***
***
***

# Q.26 Write a program to count the total number of digits in a number using a while loop.

In [35]:
num = 7586913
count = 0
while num != 0:
    # floor division
    # to reduce the last digit from number
    num = num // 10

    # increment counter by 1
    count = count + 1
print("Total digits are:", count)

Total digits are: 7

# Q.27 Print list in reverse order using a loop
list1 = [10, 20, 30, 40, 50]

In [36]:
list1 = [10, 20, 30, 40, 50]
# reverse list
new_list = reversed(list1)
# iterate reversed list
for item in new_list:
    print(item, end =" ")

50 40 30 20 10

# Q.28 Fibonacci series up to 10 terms
The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

In [37]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

# Q.29 Factorial

In [38]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120

# Q.30 Calculate the cube of all numbers from 1 to a given number

In [39]:
input_number = 5
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125

#  Q.31  Write a program to calculate the sum of series up to n term. For example, if n =5 the series will
 become 2 + 22 + 222 + 2222 + 22222 = 24690

In [40]:
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

# Q.32 Write a program to display all prime numbers within a range

In [41]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

# control flow

# 33. How to print Z pattern in Python

In [42]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 6) and column >= 0 and column <= 6) or row+column==6):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

*******
     *
    *
   *
  *
 *
*******

# 33.How would you use an  “if ” statement to check whether an integer is odd?

In [43]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 5
This is an odd number.

# 34. What is The Difference Between For and While Loop in Python?
For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations. In this control flow statement, the keyword used is for. The for loop is used when the number of iterations is already known

In [44]:
n = [1, 2, 3]  # Initialization
for i in n:  # Condition and Updation
    print(i)

1
2
3

# While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown. The statement repeats itself till the boolean value becomes false. In a while loop, the condition is tested at the start, also known as the pre-test loop. Let's see the flow of the while loop:

In [45]:
i = 1  # Initialization
while i < 6:  # Condition
    print(i)
    i += 1  # Updation

1
2
3
4
5

# 35.What is a looping use of the range( ) function?
To loop through a set of code a specified number of times, we can use the range() function, The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number

In [46]:
for x in range(6):
  print(x)

0
1
2
3
4
5

# 36. What Is The Statement That Can Be Used In Python If The Program Requires No Action But Requires It Syntactically?

In [47]:
letter = "Hi Hello H!"
for i in letter:
    if i == "H":
        pass
        print("Letter Found:", i)
    else:
        pass

Letter Found: H
Letter Found: H
Letter Found: H

# 37. Python program to reverse digits of a number

In [48]:
num = 12345; 
rev = 0
  
while(num > 0): 
    a = num % 10
    rev = rev * 10 + a 
    num = num // 10
      
print(rev)

54321

# String¶
# 38. How will you capitalize the first letter of string?

In [49]:
a="hellohi"
a.capitalize()

'Hellohi'

# 39.How will you convert a string to all lowercase?

In [50]:
a="GOOD MORNING"
a.lower()

'good morning'

# 40.write a program to reverse given string?

In [51]:
a=input("enter some string to reverse")
r=reversed(a)
output="".join(r)
print(output)

enter some string to reverseqwerty
ytrewq

# 41.how print default order,index based order and keyword based order in string formating?

In [52]:
a="{},{},{}".format(2,22,3)# default order
a

'2,22,3'

In [53]:
a="{1},{2},{0}".format(10,20,30) # index based order
a

'20,30,10'

In [54]:
a="{c},{b},{a}".format(a=1,b=2,c=3) # keyword based order
a

'3,2,1'

# 42.Count the number of same characters in a string

In [55]:
a="hellohi"
a.count("h")

2

# 43.Concatenate two strings

In [82]:
s1="string one"
s2="string two"
s3=s1+s2
s4=s1+","+s2
print('s3:',s3,"\n",'s4:',s4)

s3: string onestring two
 s4: string one,string two

# 44.how to check All characters are aphabetic

In [58]:
c = "ABCDEFG"
c.isalpha()

True

# 45. Count the total number of characters in a string

In [59]:
len('The first president of the organization..')

41

# 46.Capitalize the first character of each word in a string

In [61]:
a="hi.. good morning"
a.title()

'Hi.. Good Morning'

# 47.Check if all characters are whitespace characters

In [85]:
'   '.isspace() #=> True

True

In [86]:
"".isspace()

False

# 48.How to import pandas and check the version?

In [87]:
import pandas as pd
pd.__version__

'1.4.4'

# 49.How to create a series from a list, numpy array and dict?

In [88]:
import numpy as np
a = [1,2,3,4]
b = np.arange(1,11)
c = {"a":"Hello","b":"Hi.."}

In [89]:
a_1 = pd.Series(a)
type(a_1)

pandas.core.series.Series

In [90]:
b_1 = pd.Series(b)
type(b_1)

pandas.core.series.Series

In [91]:
c_1 = pd.Series(c)
type(c_1)

pandas.core.series.Series

# 50.How to convert the index of a series into a column of a dataframe?

In [92]:
 # Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

# 51. How to combine many series to form a dataframe?

In [93]:
# Input
import numpy as np
ser1 = pd.Series(list('abcef'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.concat([ser1, ser2], axis=1)

# Solution 2
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    f     4

# 52.How to assign name to the series’ index?

In [94]:
# Input
ser = pd.Series(list('abcedf'))

# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

#  53.How to get the items of series A not present in series B?

In [95]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

# 54.How to get the items not common to both series A and series B?

In [96]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Solution
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

# 55.How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [97]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

#  56.How to convert a numpy array to a dataframe of given shape?

In [98]:
# Input
r = pd.Series(np.random.randint(1, 10, 35))

# Solution
df = pd.DataFrame(r.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  8  7  3  5  7
1  8  5  9  3  8
2  5  4  9  3  9
3  2  3  2  7  8
4  9  2  7  1  7
5  4  8  9  9  2
6  4  2  6  7  1

# 57.How to find the positions of numbers that are multiples of 2 from a series?

In [99]:
# Input
r = pd.Series(np.random.randint(1, 10, 3))
r

# Solution
print(r)
np.argwhere(r % 2==0)

0    1
1    1
2    5
dtype: int32

ValueError: Length of values (1) does not match length of index (3)

In [100]:
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
ser

# Solution
print(ser)

np.argwhere(ser % 3==0)

0    5
1    6
2    2
3    5
4    1
5    5
6    9
dtype: int32

ValueError: Length of values (1) does not match length of index (7)

# 58.How to stack two series vertically and horizontally ?

In [101]:
# Input
r1 = pd.Series(range(5))
r2 = pd.Series(list('abcde'))

# Output
# Vertical
r1.append(r2)

# Horizontal
df = pd.concat([r1, r2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

C:\Users\Admin\AppData\Local\Temp\ipykernel_4364\3458403953.py:7: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  r1.append(r2)

# 59.How to convert the first character of each element in a series to uppercase?

In [102]:
# Input
r = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution 1
r.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [103]:
r.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

#  60.How to calculate the number of characters in each word in a series?

In [104]:
# Input
r = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
r.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

# 61.How to compute difference of differences between consequtive numbers of a series?

In [105]:
# Input
r = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# Solution
print(r.diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

# 62.How to get the day of month, week number, day of year and day of week from a series of date strings?

In [106]:
# Input
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

# Solution
from dateutil.parser import parse
ser_ts = ser.map(lambda x: parse(x))

# day of month
print("Date: ", ser_ts.dt.day.tolist())

# week number
print("Week number: ", ser_ts.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", ser_ts.dt.dayofyear.tolist())

# day of week
# print("Day of week: ", ser_ts.dt.weekday_name.tolist())

Date:  [1, 2, 3, 4, 5, 6]
Week number:  [53, 5, 9, 14, 19, 23]
Day number of year:  [1, 33, 63, 94, 125, 157]

C:\Users\Admin\AppData\Local\Temp\ipykernel_4364\3589561577.py:12: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  print("Week number: ", ser_ts.dt.weekofyear.tolist())

# 63.How to filter words that contain atleast 2 vowels from a series?

In [107]:
# Input
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

# Solution
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
ser[mask]

0     Apple
1    Orange
4     Money
dtype: object

# 64.How to filter valid emails from a series?

In [108]:
# Input
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])

# Solution 1 (as series of strings)
import re
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
emails[mask]

# Solution 2 (as series of list)
emails.str.findall(pattern, flags=re.IGNORECASE)

# Solution 3 (as list)
[x[0] for x in [re.findall(pattern, email) for email in emails] if len(x) > 0]

['rameses@egypt.com', 'matt@t.co', 'narendra@modi.com']

# 65.How to get the mean of a series grouped by another series?

In [109]:
# Input
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

# Solution
weights.groupby(fruit).mean()

apple     7.200000
banana    3.666667
carrot    4.000000
dtype: float64

# 66.How to replace missing spaces in a string with the least frequent character?

In [110]:
# Input
my_str = 'dbc deb abed gade'

# Solution
ser = pd.Series(list('dbc deb abed gade'))
freq = ser.value_counts()
print(freq)
least_freq = freq.dropna().index[-1]
"".join(ser.replace(' ', least_freq))

d    4
b    3
     3
e    3
a    2
c    1
g    1
dtype: int64

'dbcgdebgabedggade'

# 67.How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [111]:
r = pd.Series(np.random.randint(1,10,10), pd.date_range('2000-01-01', periods=10, freq='W-SAT'))
r

2000-01-01    2
2000-01-08    9
2000-01-15    7
2000-01-22    2
2000-01-29    1
2000-02-05    7
2000-02-12    4
2000-02-19    8
2000-02-26    2
2000-03-04    6
Freq: W-SAT, dtype: int32

# 68.How to compute the autocorrelations of a numeric series?

In [112]:
# Input
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

# Solution
autocorrelations = [ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations[1:])
print('Lag having highest correlation: ', np.argmax(np.abs(autocorrelations[1:]))+1)

[0.22, 0.26, 0.21, 0.4, 0.37, 0.35, -0.11, 0.48, 0.18, -0.06]
Lag having highest correlation:  8

# 69.How to import only specified columns from a csv file?

In [113]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

# 70.How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [115]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#  number of rows and columns
print(df.shape)

# datatypes
print(df.dtypes)

# how many columns under each dtype
print(df.get_dtype_counts())
print(df.dtypes.value_counts())

# summary statistics
df_stats = df.describe()

# numpy array 
df_arr = df.values

# list
df_list = df.values.tolist()

(93, 27)
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

AttributeError: 'DataFrame' object has no attribute 'get_dtype_counts'

# 71.How to rename a specific columns in a dataframe?

In [116]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
# Step 1:
df=df.rename(columns = {'Type':'CarType'})
# or
df.columns.values[2] = "CarType"

# Step 2:
df.columns = df.columns.map(lambda x: x.replace('.', '_'))
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

# 72.How to check if a dataframe has any missing values?

In [117]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df.isnull().values.any()

True

# 73.How to replace missing values of multiple numeric columns with the mean?

In [118]:
# Input
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Solution
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))
print(df_out.head())

   Min.Price  Max.Price
0  12.900000  18.800000
1  29.200000  38.700000
2  25.900000  32.300000
3  17.118605  44.600000
4  17.118605  21.459091

# 74.How to select a specific column from a dataframe as a dataframe instead of a series?

In [119]:
# Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

# Solution
type(df[['a']])
type(df.loc[:, ['a']])
type(df.iloc[:, [0]])

pandas.core.frame.DataFrame

# 75.How to format or suppress scientific notations in a pandas dataframe?

In [120]:
# Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])

# Solution 1: Rounding
df.round(4)

# Solution 2: Use apply to change format
df.apply(lambda x: '%.4f' % x, axis=1)
# or
df.applymap(lambda x: '%.4f' % x)

   random
0  0.9804
1  0.0000
2  0.0000
3  0.0000

# 76.How to format all the values in a dataframe as percentages?

In [121]:
# Input
df = pd.DataFrame(np.random.random(4), columns=['random'])

# Solution
out = df.style.format({
    'random': '{0:.2%}'.format,
})

In [122]:
out

# 77.How to reverse the rows of a dataframe?

In [123]:
# Input
df = pd.DataFrame(np.arange(25).reshape(5, -1))

# Solution 1
df.iloc[::-1, :]

    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

# 78.How to split a text column into two separate columns?

In [124]:
# Input
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

# Solution
df_out = df.row.str.split(',|\t', expand=True)

# Make first row as header
new_header = df_out.iloc[0]
df_out = df_out[1:]
df_out.columns = new_header
print(df_out)

0 STD            City    State
1  33   Kolkata    West Bengal
2  44    Chennai    Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka

# 79.What is the difference between append and extend?

In [127]:
#.append() adds an object to the end of a list.
a = [1,2,3]
a.append(4)
a #=> [1, 2, 3, 4]

[1, 2, 3, 4]

#This also means appending a list adds that whole list as a single element, rather than appending each of its values.

a.append([5,6]) a #=> [1, 2, 3, 4, [5, 6]]

In [128]:
a.append([5,6])
a #=> [1, 2, 3, 4, [5, 6]]

[1, 2, 3, 4, [5, 6]]

#.extend() adds each value from a 2nd list as its own element. So extending a list with another list combines their values.

In [129]:
b = [1,2,3]
b.extend([5,6])
b #=> [1, 2, 3, 5, 6]

[1, 2, 3, 5, 6]

# 80. Sort a list of integers in ascending order?

In [131]:
li = [10,1,9,2,8,3,7,4,6,5]
li.sort()
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 81.Sort a list of integers in descending order?

In [132]:
li = [10,1,9,2,8,3,7,4,6,5]
li.sort(reverse=True)
li #=> [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [133]:
a = [5,3,4,2,1]
a.sort()
a

[1, 2, 3, 4, 5]

# 82.Reverse the order of a list?

In [134]:
li = [1,2,3,4,5,6,7,8,9,10]
li.reverse()
li

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 83.Return the minimum value in a list?

In [136]:
li = [10,1,9,2,8,3,7,4,6,5]
min(li)

1

# 84. Return the sum of values in a list?

In [137]:
a = [10,1,9,2,8,3,7,4,6,5]
sum(a)

55

# 85.Generate a list of every integer between 2 values?

In [138]:
a = list(range(5,10))
a

[5, 6, 7, 8, 9]

# 86.Modify an exiciting list with a lambda function?

In [139]:
li = [5,7,8,9,4]
 
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 16, 18, 8]

# 87.why converting a list to a set removes duplicates?

In [140]:
# removing duplicate elements from the list
a = [1,2,3,2,5,3,6,5,7]
print("Original List: ", a)
b = [*set(a)]
print("List after removing duplicate elements: ", b)

Original List:  [1, 2, 3, 2, 5, 3, 6, 5, 7]
List after removing duplicate elements:  [1, 2, 3, 5, 6, 7]

# 88.what is dictionary?¶
Dictionary is a set of key: value pairs, with each pair being unique. The dictionary can be created by using empty braces {}. We can add a key: value pair to it.

eg- dictionary1 = { ‘a’: 1, ‘b’: 2, ‘c’: 3 }

# 89.Sort Dictionary By Key in Python?

In [141]:
a = {'ravi': 10, 'rajnish': 9,
        'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
b = list(a.keys())
b.sort()
c = {i:a[i] for i in b}
 
print(c)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

# 90.Sort only the values?

In [142]:
dt = {5:4, 1:6, 6:3} # keys:value

a = sorted(dt.values())
print(a)

[3, 4, 6]

# 91.The value of the removed item is the return value of the pop() method

In [143]:
y = {"brand": "Ford","model": "Mustang", "year": 1964}
x = y.pop("model")
print(x)

Mustang

In [144]:
pq = {"b":[1,22,45],"key":["a","b"]}
pq.pop("b")

[1, 22, 45]

# 92.Remove "model" from the dictionary

In [145]:
car = {"brand": "Ford", "model": "Mustang","year": 1964}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

# 93.How to print all keys inside Python Dictionary?

In [146]:
x = {'a': 'Pride and Prejudice', 'b': '1813','c': 'Jane Austen',
   'd': 'Elizabeth Bennet'}

print(x.keys())

dict_keys(['a', 'b', 'c', 'd'])

# 94.How to print all values inside Python Dictionary?

In [147]:
dictionary = {'Novel': 'Pride and Prejudice','year': '1813','author': 'Jane Austen',
             'character': 'Elizabeth Bennet'}
print(dictionary.values())

dict_values(['Pride and Prejudice', '1813', 'Jane Austen', 'Elizabeth Bennet'])

# 95.How to sum values of a Python dictionary?

In [148]:
d = {'foo': 10,'bar': 20,'baz': 30}
print(sum(d.values()))

60

# 96.How to get a list of all the keys from a Python dictionary?

In [149]:
a = {10: 'TutorialsPoint', 12: 'Python', 14: 'Codes'}
print(a.keys())

dict_keys([10, 12, 14])